<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공주고 3D프린터실</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <div class="nav_wrap">
            <div class="rogo_wrap">
                <a href="/home"><img src="source/logo.png" alt="로고 이미지"></a>
                <span><a href="#">공주고 3D프린터실</a></span>
            </div>
            <div class="list_wrap">
                <a href="/home">홈</a>
                <a href="/ask">예약</a>
                <a href="/such">조회</a>
                <a href="/mail">FAQ</a>
            </div>
        </div>
    </nav>
    <section>
        <div class="section_wrap">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf30ZJuocfOL-R6uO3SkmnC6ww1J5nTkiXPL0D_I44TdMkPzw/viewform?embedded=true" width="100%" height="800" frameborder="0" marginheight="0" marginwidth="0">로드 중…</iframe>        </div>
    </section>
</body>
<footer>
    <div class="footer-content">
        <div class="footer-section-about">
            <h2>About Us</h2>
            <p>공주고등학교 3D프린터실 웹에서 요청하시는 모든 것을 만들어드립니다</p>
        </div>
        <div class="footer-section-mail">
            <h2>Mail</h2>
            <span>printManger : <a href="mailto:20231720@kongjugo.cnehs.kr" style="text-decoration: none; color: #000;">20231720@kongjugo.cnehs.kr</a></span>
            <span>webManger : <a href="mailto:20231601@kongjugo.cnehs.kr" style="text-decoration: none; color: #000;">20231601@kongjugo.cnehs.kr</a></span>
        </div>
        <div class="footer-section-links">
            <h2>Quick Links</h2>
            <div>
                <a href="/home">홈</a>
                <a href="/ask">예약</a>
                <a href="/such">조회</a>
                <a href="/mail">FAQ</a>
            </div>
        </div>
    </div>
    <div class="copylight">
        <p">Copyright 2024. Kongju High School 3D Printer Room. All right reserved.</p>
    </div>
</footer>
</html>