<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공주고 3D프린터실</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav>
        <div class="nav_wrap">
            <div class="rogo_wrap">
                <a href="/home"><img src="source/logo.png" alt="로고 이미지"></a>
                <span><a href="#">공주고 3D프린터실</a></span>
            </div>
            <div class="list_wrap">
                <a href="/home">홈</a>
                <a href="/ask">예약</a>
                <a href="/such">조회</a>
                <a href="/mail">FAQ</a>
            </div>
        </div>
    </nav>
    <section>
        <div class="section_wrap">
            <div class="info_wrap">
                <div class="image">
                    <img src="source/main.gif" alt="임시 학교 사진">
                </div>
                <div class="elementor_wrap">
                    <div class="elementor_title">
                        <h2 class="elementor">
                            <h2 class="title">3D프린팅 요청하는 방법</h2>
                            <span class="text">더 이상 3D 프린팅 어렵게 하지마세요.</span>
                        </h2>
                    </div>
                    <div class="elementor_box_wrap">
                        <div class="elementor_box">
                            <div class="box_number">
                                <img src="source/1.png" class="num" alt="숫자 1 이미지">
                            </div>
                            <div class="box_content">
                                <span>원하는 출력물을 구글 폼스에 입력을 해주세요.</span>
                            </div>
                            <div class="box_image">
                                <img src="source/survary.png" alt="설문조사 일러스트 이미지">
                            </div>
                        </div>
                        <div class="elementor_box">
                            <div class="box_number">
                                <img src="source/2.png" class="num" alt="숫자 2 이미지">
                            </div>
                            <div class="box_content">
                                <span>모델링과 출력이 될 때까지 기다려주세요.</span>
                            </div>
                            <div class="box_image">
                                <img src="source/printer.png" alt="3D 프린터 일러스트 이미지">
                            </div>
                        </div>
                        <div class="elementor_box">
                            <div class="box_number">
                                <img src="source/3.png" class="num" alt="숫자 3 이미지">
                            </div>
                            <div class="box_content">
                                <span>출력물이 도착할 때까지 기다리시면 됩니다.</span>
                            </div>
                            <div class="box_image">
                                <img src="source/delivery.png" alt="택배 카트 일러스트 이미지">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="map_wrap">
                    <div class="map_title" style="margin-bottom: 2rem;">
                        <h2 class="title">3D프린터실은?</h2>
                        <span class="text">공주고등학교 과학정보관 2층</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<footer>
    <div class="footer-content">
        <div class="footer-section-about">
            <h2>About Us</h2>
            <p>공주고등학교 3D프린터실 웹에서 요청하시는 모든 것을 만들어드립니다.</p>
        </div>
        <div class="footer-section-mail">
            <h2>Mail</h2>
            <span>printManger : <a href="mailto:20231720@kongjugo.cnehs.kr" style="text-decoration: none; color: #000;">20231720@kongjugo.cnehs.kr</a></span>
            <span>webManger : <a href="mailto:20231601@kongjugo.cnehs.kr" style="text-decoration: none; color: #000;">20231601@kongjugo.cnehs.kr</a></span>
        </div>
        <div class="footer-section-links">
            <h2>Quick Links</h2>
            <div>
                <a href="/home">홈</a>
                <a href="/ask">예약</a>
                <a href="/such">조회</a>
                <a href="/mail">FAQ</a>
            </div>
        </div>
    </div>
    <div class="copylight">
        <p">Copyright 2024. Kongju High School 3D Printer Room. All right reserved.</p>
    </div>
</footer>
</html>